<!DOCTYPE html>
<html>
<head>

    <style type="text/css">
        #chart-container {
            width: 640px;
            height: auto;
        }
    </style>


</head>
<body>
<div id="chart-container">
    <canvas id="mycanvas"></canvas>
</div>
<!-- javascript -->
<script type="text/javascript" src="../../assets/JS/jquery.js"></script>
<script type="text/javascript" src="../../assets/JS/Chart.min.js"></script>
<script type="text/javascript" src="../../assets/JS/app2.js"></script>

</body>
</html>