
            .my-buttons{
                margin-top: 40px;
            }
            td{
                width: 75px;
            }
            .head-up-del{
                 margin-bottom: -72px;
                margin-left:11%;
                margin-top: 52px;
                
                
            }