@import 'https://fonts.googleapis.com/css?family=Varela+Round';


            .head-form{
                margin-top: 101px;
                margin-bottom: 2px;
                font-family: 'Varela Round', sans-serif;
                font-size: 30px;
            }
            .msg{

                margin-top: 101px;
                margin-bottom: 2px;
            }
 .sb-ppr-btn{
                margin-bottom: 100px;   
            }
