
            .head-form{
                margin-top: 101px;
                margin-bottom: 2px;
            }
            .msg{

                margin-top: 101px;
                margin-bottom: 2px;
            }
 .sb-ppr-btn{
                margin-bottom: 100px;   
            }
body{
                background-color: red;
            }