h2,.lbl_cat{
                color: white;

            }

            .pdf-link{
                color: white;
                background-color: coral;
            }
            .pdf-link:hover{
                color: blue;
            }
            .form-control[disabled], fieldset[disabled] .form-control {
                cursor: default !important;
            }
