
            .my-buttons{
                margin-top: 40px;
            }
            td{
                width: 75px;
            }
       .head-form{
               margin-bottom: -72px;
                margin-left:-45%;
                margin-top: 52px;
}
       table{
           font-size: 120%;
               margin-top: 26px !important;
       }
       .th_sname_ppr {
           
           width: 59% ;
          
       }
       h3{
          font-family: 'Varela Round', sans-serif; !important;
       }