
            .my-buttons{
                margin-top: 40px;
            }
            td{
                width: 75px;
            }
       .head-form{
               margin-bottom: -72px;
                margin-left:-16%;
                margin-top: 52px;
}
       table{
           font-size: 120%;
       }
       .th_sname_ppr {
           
           width: 59% ;
           
       }
       h3{
           font-family: 'Yatra One', cursive !important;
           padding-left: 10%;
       }