 td{
                width: 75px;
            }
            table{
                font-size: 121%
            }
            .head-view{
                margin-bottom: -65px;
                margin-top: 50px;
                margin-left: 13%;

            }
            .th_sname{
                    padding-right: 0;
                    width: 49%;
                
                
            }