 .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
                background-color:beige  !important;
                opacity: 1;
                border: none;
                cursor: context-menu!important;
            }
            img{

                width: 50%;
                height: 50%;;
            }